<!DOCTYPE html>
<html>

<head>
    <title>{{ album.title }} - {{ album.artist.name }}</title>
</head>

<body>
    <h1>{{ album.title }}</h1>
    <h2>{{ album.artist.name }}</h2>
    {% if album.track_set %}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Composer</th>
                <th>Duration (milliseconds)</th>
                <th>Unit Price</th>
            </tr>
        </thead>
        <tbody>
            {% for element in album.track_set.all %}
            <tr>
                <td>{{ element.name }}</td>
                <td>{{ element.composer }}</td>
                <td>{{ element.milliseconds }}</td>
                <td>{{ element.unitPrice }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}

    <p>No tracks found for this album.</p>

    {% endif %}

</body>

</html>